<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xcy.mapper.AdminPetMapper">

    <select id="getPetList" resultType="AdminPet">
        select admin.address,admin.name,pet.* from admin,pet where pet.aid = admin.id

    </select>
    <select id="selectByPrice"  resultType="AdminPet" parameterType="int">
        select admin.address,admin.name,pet.* from admin,pet where pet.aid = admin.id  order by petprice asc
    </select>
    <select id="seleByPrice"  resultType="AdminPet" parameterType="int">
        select admin.address,admin.name,pet.* from admin,pet where pet.aid = admin.id order by petprice desc
    </select>
    <select id="getList" resultType="AdminPet" parameterType="int">
        select admin.address,admin.name,pet.* from admin,pet where pet.aid = admin.id

    </select>
    <select id="selectLike" resultType="AdminPet">
        select admin.address,admin.name,pet.* from admin,pet where pet.aid = admin.id like '%' = #{strain}
    </select>
    <select id="selectName" resultType="AdminPet">
        select admin.address,admin.name,pet.* from admin,pet where pet.aid = admin.id like '%' = #{username}
    </select>
</mapper>