<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xcy.mapper.AdminMapper">
    <select id="login" parameterType="Admin" resultType="int">
        select  count(1) from admin where username = #{username}
        and password = #{password}
    </select>
    <insert id="zhuce" parameterType="com.xcy.pojo.Admin">
        insert into admin(username,password,phonenum,address,name,card_name,bank_name) values (#{username},#{password},#{phonenum},#{address},#{name},#{card_name},#{bank_name})
    </insert>
    <select id="validatename" parameterType="String" resultType="int">
        select count(1) from admin where username = #{username}
    </select>

</mapper>